.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popupContent {
  background: white;
  padding: 30px;
  border-radius: 15px;
}

.popup.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
